/*Global*/

/*Utilities*/

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    height: 40vh;
    background-image: url(https://d207pkrvhz1w8t.cloudfront.net/slider-image-35622-orig-cropped.jpg);

    background-position: right,bottom;
    background-size: cover;
}

/*Register Form*/
.form-container div{
    display: grid;
    

}

.form-container input{
    margin-bottom: 1rem;
}

.form-container select{
    margin-bottom: 1rem;
}
#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}
.pet{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 1 rem;
}
.pet label{
    display: block;
}
.pet .pet-header{
    display: flex;
    justify-content: space-between;
}
.pet .pet-header button{
    font-size: 14px;
    border:none;
}

.highlight{
    border-color: aqua;
}